{% extends 'base.html' %}
{% block title %}
    Contact
{% endblock %}
{% block body %}
    <div class="container my-4">
        <h1>Contact icoders</h1>
        <form method="post">{% csrf_token %}
            <div class="form-group">
                <label for="Contactname">Name</label>
                <input type="text" class="form-control" id="Contactname" name="contname"  required>
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="contmail"  required>
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                    else. Its a Promise.</small>
            </div>
           <div class="form-group">
                <label for="Contactno">Phone</label>
                <input type="tel" class="form-control" id="Contactno" name="contno"  required>
            </div>
            <div class="form-group">
                <label for="Contactdesc">How may We Help You?</label>
                <textarea class="form-control" id="Contactname" name="contdesc" required></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
{% endblock %}
{% block js %}

{% endblock %}