{% extends 'base.html' %}
{% block title %}
    BlogPost
{% endblock %}
{% block blog %}
    active
{% endblock %}
{% block body %}
    <div class="container" align="center">
        {% if exist %}
            <div class="col-8">
                <p align="left">{{ post.Timestamp }}</p>
                <h1 style="text-align: center;">{{ post.title }}</h1>
                <h6 style="text-align: center;">- By {{ post.author }}</h6>
                <hr>
                <p>{{ post.Content }}</p>
            </div>
        {% else %}
            <div class="d-flex align-items-center justify-content-center w-100" style="height: 100%;">
                <br><br><br><br><br><br><br><br>
                <br><br><br><br><br><br><br><br>
                <br><br><br><br>
                <h1>Page Not Found!</h1>
            </div>
        {% endif %}
    </div>
{% endblock %}
{% block js %}

{% endblock %}