{% extends 'base.html' %}
{% block title %}
    BlogHome
{% endblock %}
{% block blog %}
    active
{% endblock %}
{% block body %}
    <div class="container">
        {% if allposts %}


            <h2 class="mb-3">Coding Blogs by icoder: </h2>
            <div class="row">
                {% for post in allposts %}
                    <div class="col-md-6">
                        <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                            <div class="col p-4 d-flex flex-column position-static">
                                <strong class="d-inline-block mb-2 text-primary">Article by {{ post.author }}</strong>
                                <h3 class="mb-0">{{ post.title }}</h3>
                                <div class="mb-1 text-muted">{{ post.Timestamp }}</div>
                                <p class="card-text mb-auto">{{ post.Content|truncatechars:100 }}</p>
                                <a href="/blog/{{ post.slug }}" class="stretched-link">Continue reading</a>
                            </div>
                            <div class="col-auto d-none d-lg-block">
                                <svg class="bd-placeholder-img" width="200" height="250"
                                     xmlns="http://www.w3.org/2000/svg"
                                     preserveAspectRatio="xMidYMid slice" focusable="false" role="img"
                                     aria-label="Placeholder: Thumbnail"><title>Placeholder</title>
                                    <rect width="100%" height="100%" fill="#55595c"></rect>
                                    <text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>
                                </svg>
                            </div>
                        </div>
                    </div>
                    {% if forloop.counter|divisibleby:2 and forloop.counter > 0 and not forloop.last %}
                        </div>
                        <div class="row">
                    {% endif %}
                {% endfor %}
                </div>
        {% else %}
            <div class="d-flex my-3 align-items-center justify-content-center w-100">
                <div class="w-100" align="center">
                    <h1>No Blog Found!</h1>
                    <p>Please try another keyword.</p>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}
{% block js %}

{% endblock %}