<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% if not user.is_authenticated %}
        <script src="https://www.google.com/recaptcha/api.js"></script>
        <script>
            function onSubmit(token) {
                document.getElementById("signupform").submit();
            }
        </script>
    {% endif %}
    {% block head %}

    {% endblock %}
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>{% block title %}

    {% endblock %}</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item {% block home %}{% endblock %}">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item {% block contact %}{% endblock %}">
                <a class="nav-link" href="/contact">Contact</a>
            </li>
            <li class="nav-item {% block about %}{% endblock %}">
                <a class="nav-link" href="/about">About</a>
            </li>
            <li class="nav-item {% block blog %}{% endblock %}">
                <a class="nav-link" href="/blog">Blog</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" target="_blank" href="/admin">Admin</a>
            </li>
            {#      <li class="nav-item dropdown">#}
            {#        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">#}
            {#          Dropdown#}
            {#        </a>#}
            {#        <div class="dropdown-menu" aria-labelledby="navbarDropdown">#}
            {#          <a class="dropdown-item" href="#">Action</a>#}
            {#          <a class="dropdown-item" href="#">Another action</a>#}
            {#          <div class="dropdown-divider"></div>#}
            {#          <a class="dropdown-item" href="#">Something else here</a>#}
            {#        </div>#}
            {#      </li>#}
            {#      <li class="nav-item">#}
            {#        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>#}
            {#      </li>#}
        </ul>
        <form class="form-inline my-2 my-lg-0" method="post" action="/blog/">{% csrf_token %}
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
        {% if not user.is_authenticated %}
            <button class="btn btn-success ml-2" data-toggle="modal" data-target="#signupmodal">Sign Up</button>
            <button class="btn btn-primary ml-2" data-toggle="modal" data-target="#loginmodal">Login</button>
        {% else %}
            <ul class="navbar-nav">
                <li class="nav-item dropdown mx-3">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Welcome Mr. {{ request.user.last_name|capfirst }}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a href="/logout/" class="dropdown-item" href="#">Logout</a>
                    </div>
                </li>
            </ul>
        {% endif %}
    </div>
</nav>
{% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
        <strong>message: </strong>{{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
{% endfor %}
{% if not user.is_authenticated %}


    <!--signup modal-->
    <div class="modal fade" id="signupmodal" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Sign Up</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span style="color: red;" aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form action="/signup/" id="signupform" method="post">{% csrf_token %}
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="username" class="col-form-label">Username</label>
                            <input type="text" class="form-control" id="username" name="uname"
                                   placeholder="Choose a unique username" autocomplete="username" required>
                        </div>
                        <div class="form-group">
                            <label for="fname" class="col-form-label">First Name</label>
                            <input type="text" class="form-control" id="fname" name="fname"
                                   placeholder="Tell us Your First name!" autocomplete="firstname" required>
                        </div>
                        <div class="form-group">
                            <label for="lname" class="col-form-label">Last Name</label>
                            <input type="text" class="form-control" id="lname" name="lname"
                                   placeholder="Tell us your Lastname!" autocomplete="lastname" required>
                        </div>
                        <div class="form-group">
                            <label for="email" class="col-form-label">Email Address</label>
                            <input type="email" class="form-control" id="email" name="email"
                                   placeholder="Make us Contact you!" autocomplete="email" required>
                        </div>
                        <div class="form-group">
                            <label for="pas" class="col-form-label">Password</label>
                            <input type="password" class="form-control" id="pas" name="pas"
                                   placeholder="Security is must! - (A-Z, a-z, 0-9, uniques)"
                                   autocomplete="new-password"
                                   required>
                        </div>
                        <div class="form-group">
                            <label for="pasc" class="col-form-label">Confirm Password</label>
                            <input type="password" class="form-control" id="pasc" name="pasc"
                                   placeholder="So that you cannot be wrong!" autocomplete="new-password" required>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="g-recaptcha btn btn-primary"
                                data-sitekey="6LeA7aYZAAAAAGM9cop1J_Ilb_bmcHEIMHe7fTe8"
                                data-callback='onSubmit'>Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!--Login modal-->
    <div class="modal fade" id="loginmodal" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Login Here</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span style="color: red;" aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form action="/login/" method="post">{% csrf_token %}
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="uname" class="col-form-label">Username</label>
                            <input type="text" class="form-control" id="uname" name="uname"
                                   placeholder="Enter your unique username" autocomplete="username">
                        </div>
                        <div class="form-group">
                            <label for="lpas" class="col-form-label">Password</label>
                            <input type="password" class="form-control" id="lpas" name="lpas" placeholder="Password!"
                                   autocomplete="current-password">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success">Login</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endif %}

{% block body %}

{% endblock %}

{% if user.is_authenticated %}
    <button onclick="window.location.href='/blog/create-new-post/'" class="btn btn-primary"
            style="z-index: 10; width: 70px; height: 70px; position: fixed; bottom: 5%; right: 4%; border-radius: 50%; padding: 0px;">
        <i style="font-size: 30px;" class="fa fa-plus"></i></button>
{% endif %}
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
{% block js %}

{% endblock %}
</body>
</html>